.brand {
    font-size: 30px;
    color: firebrick;
    font-family: 'Times New Roman', Times, serif;
    flex-grow: 1;
    margin-top: 10px;
    
}
nav {
  height: 2rem;
  display: flex;
  gap: 1ch;
  align-items: center;
  justify-content: end;
}
a{
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
}
main {
  border: 5px solid rgb(194, 26, 26);
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;  
}
.starfish{
  display: flex;
  flex-flow: column;
  padding-left: 0;
  justify-content: flex-start
}
li{
  border: 5px solid firebrick;
  font-size: 20px;
  color: white;
  padding-right:30px;
  gap: 1ch;
  margin: 5px;
  background-color: firebrick;
  border-radius: 8px;
}
article{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}
.testimonial{
  display: flex;
  flex-wrap: wrap;
  font-style: italic;
  background-color: lightgray;   
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000000;
  color: white;
  padding: 20px;
  width: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  
}